.bodycase{
    width: 200px;
    height: 400px;
    background-color: rgb(44, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}
.green{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(25, 131, 25);
    transition:  transform 1s ease;
}
.red{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(150, 42, 42);
    transition:  transform 1s ease;
}
.yellow{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(131, 120, 25);
    transition:  transform 1s ease;
}
.green:hover{
    
    background-color:rgb(0, 255, 0) ;
    transform: scale(1.1);
}
.yellow:hover{
    
    background-color:rgb(238, 255, 0) ;
    transform: scale(1.1);
}
.red:hover{
    
    background-color:rgb(255, 3, 3) ;
    transform: scale(1.1);
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}